mixin sFeatures(data)
	// start sFeatures
	+b.SECTION.sFeatures.section#sFeatures&attributes(attributes)

		.container.container-btn
			+e.info-btns
				+b.price
					+e.item.small Цена розница
					+e.item.fw-500  95 ₽/шт
					+e.item.fw-500 4 452 ₽/м2
				+e.btn.btn.btn-primary.btn-reverse.btn--order-js Заказать
				+e.btn.btn.btn-secondary.btn-reverse.btn--basket-js.d-none(href='#') В корзине
				+e.btn.btn.btn-dark.btn-reverse(href='#', target='_blank') Характеристики
					+icon('download')
				+e.btn.btn.btn-dark.btn-reverse(href='#', target='_blank') Сертификация продукции
					+icon('download')
		+warningText2('Мангейм Карбон', ' 95 ₽/шт ', '4852 ₽/м2')

mixin warningText2(text, price1, price2)
	+b.warning-text--order
		.inner-wrap
			.small.title=text
			.price-wrap
				.small=price1
				.small.secondary= price2
		.btn.btn-primary(href='#') Заказать

mixin feature-line(title, value)
	+b.feature-line.small
		+e.header!= title
		+e.dash
		+e.span!= value

mixin sProductCard(data)
	// start sProductCard
	+b.SECTION.sProductCard.section#sProductCard&attributes(attributes)
		.container.container-max
			+e.row.row
				+e.col.col-md-6
					+b.title-item--white
						h2 Основные характеристики
				+e.col.col-md-6
					+feature-line('Размер ДхШхВ, мм', '250х120х65')
					+feature-line('Позиция склад/заказ', 'заказная')
					+feature-line('Минимальный объем заказа, шт', '60000')
		.container-max
			+e.slider--js
				.swiper-wrapper
					+e.slide.swiper-slide
						+e.img-wrap.bg-wrap
							+img("img/product-card.png", 'bg')
					+e.slide.swiper-slide
						+e.img-wrap.bg-wrap
							+img("img/product-card.png", 'bg')
					+e.slide.swiper-slide
						+e.img-wrap.bg-wrap
							+img("img/product-card.png", 'bg')
				+arrow()
				+e.btn.btn.btn-primary.d-none.d-md-block(href='#') Галерея объектов
	// end sProductCard

		+e.btn.btn.btn-primary.btn-reverse(href='#', target='_blank') Скачать инструкцию
			+icon('download')
