mixin sSlider(data)
	// start sSlider
	+b.SECTION.sSlider.section#sSlider&attributes(attributes)
		.container-max
			+b.slider-auto--js
				+e.btn.btn.btn-primary(href='#') Catalog
				.swiper-wrapper
					+e.slide.swiper-slide
						.parallax-container.parallax-container-top.animate(style=`background-image:url(img/slide-main-2.png);`)
					+e.slide.swiper-slide
						.parallax-container.animate(style=`background-image:url(img/slide-main-1.png);`)
					+e.slide.swiper-slide
						.parallax-container.animate(style=`background-image:url(img/slide-main-3.png);`)
	// end sSlider