// start .sSlider
.sSlider {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	// --sTPB: #{rem()};

	.btn-primary {
    position: absolute;
    bottom: rem(24);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    @include media-breakpoint-up(md) {
      bottom: rem(32);
    }
    @include media-breakpoint-down(md) {
      width: calc(100% - rem(32));
    }
  }
  .parallax-container {
    height: 100vh;
    max-height: rem(720);
    @include media-breakpoint-up(md) {
      height: 100vh;
      max-height: rem(720);
    }
  }
  .parallax-container-top {
    background-position-y: 0;
  }
  .slider-auto--js {
    overflow: hidden;
    .parallax-container {
      filter: brightness(90%);
      &.animate {
          @include media-breakpoint-down(md) {
            animation: bgTransition 40s linear infinite ;
        }
      }
    }
    .swiper-button-hand {
      @include media-breakpoint-down(md) {
        display: none;
      }
    }
  }
	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sSlider

@keyframes bgTransition {
  0% {
    background-position: 0%;
  }
  50% {
    background-position: 100%;
  }
  100% {
    background-position: 0%;
  }
}

.main-page {
  .block1 {
    max-height: none;
    height: 100vh;
    overflow: hidden;
    // min-height: 100vh;
    // @include media-breakpoint-up(md) {
    //   min-height: 100vh;
    // }
  }
  .video {
    height: 100% !important;
    object-fit: cover;
  }
  .block1 .parallax-container {
    height: 100vh;
    max-height: none;
    @include media-breakpoint-up(md) {
      height: 100vh;
    }
  }
}