// start .headerBlock
.headerBlock {
	--sPT: #{rem(0)};
	--sPB: #{rem(0)};
	--sTPB: #{rem(0)};
	// min-height: 100vh;
	// min-height: calc(var(--vh, 1vh) * 100);
	position: relative;

	&__row {
		// --bs-gutter-x: #{rem()};
		--bs-gutter-y: var(--bs-gutter-x);
	}

	&__img-wrap {
		aspect-ratio: 360 / 220;
		@include media-breakpoint-up(md) {
			aspect-ratio: 1280 / 456;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: linear-gradient(
				180deg,
				rgba(0, 0, 0, 0.4) 0%,
				rgba(0, 0, 0, 0) 20%,
				rgba(0, 0, 0, 0) 80%,
				rgba(0, 0, 0, 0.4) 100%
			);
		}
	}
	.section-title {
		position: relative;
		h1 {
			@include media-breakpoint-up(md) {
				position: relative;
			}
		}
		h1::after {
			content: "";
			position: absolute;
			width: 0;
			height: rem(2);
			background: $primary;
			left: 0;
			bottom: 0;
			transition: width 0.5s;
		}
		&.loaded h1::after {
			width: 100%;
			@include media-breakpoint-up(md) {
				// width: 59%;
			}
		}

		h1 {
			max-width: rem(330);
			padding-bottom: rem(29);
			@include media-breakpoint-up(md) {
				max-width: rem(608);
				padding-bottom: rem(31);
			}
		}
	}

	.container {
		position: absolute;
		bottom: rem(16);
		left: 50%;
		transform: translateX(-50%);
		z-index: 2;
		@include media-breakpoint-up(md) {
			bottom: rem(50);
		}
	}
	&__col {
	}
	&__item {
	}
	&__slide {
		height: auto;
	}

	&--white {
		h1 {
			color: $white;
		}
	}

	&--no-title {
		.headerBlock__img-wrap {
			aspect-ratio: 360 / 320;
			@include media-breakpoint-up(md) {
				aspect-ratio: 1280 / 720;
				max-height: 100vh;
				width: 100%;
			}
		}
	}
	.container-max {
		position: relative;
	}

	.container-absolut {
		position: static;
		padding: rem(16);
		padding-bottom: 0;
		max-width: rem(508);
		margin: auto;
		@include media-breakpoint-up(md) {
			position: absolute;
			min-width: rem(537);
			max-width: none;
			width: 100%;
			left: 0;
			bottom: 0;
			z-index: 2;
			background: $gray-500;
		}
		@include media-breakpoint-up(lg) {
			width: 50%;
		}
    // @media (min-width: 1920px) {
    //   max-width: calc(1920px / 2);
    //   left: auto;
    //   right: 50%;
    // }
		h1 {
			color: $dark;
			margin-bottom: rem(16);
			@include media-breakpoint-up(md) {
				margin-bottom: rem(56);
			}
		}
	}
	&__header {
		display: flex;
		justify-content: space-between;
		margin-bottom: rem(8);
		@include media-breakpoint-up(md) {
			margin-bottom: rem(12);
		}
		.btn-link {
			color: $gray-800;
			cursor: pointer;
		}
		.icon {
			fill: none;
			stroke-width: rem(1);
			stroke: $gray-800;
		}
		.brand {
			margin-right: rem(26);
			@include media-breakpoint-up(md) {
				margin-right: 0;
			}
		}
	}

	.custom-scroll {
		height: 100%;
	}
	.item-title {
		padding-bottom: rem(4);
		@include media-breakpoint-up(md) {
			padding-left: 1.4vw;
		}
	}

	.filters-wrapper {
		display: flex;
		flex-direction: column;
		gap: rem(12);
		@include media-breakpoint-up(md) {
			gap: rem(2);
			display: grid;
			grid-template-columns: repeat(4, 1fr);
		}
		label {
			display: flex;
			align-items: center;
			gap: rem(8);
		}
		@include media-breakpoint-up(md) {
			margin-right: rem(-16);
			margin-left: rem(-16);
		}
	}
	.filter {
		position: relative;
	}

	.filter__title {
		border: none !important;
		background: $white;
		display: flex;
		align-items: center;
		gap: rem(8);
		padding: rem(8);
		padding-right: rem(40);
		background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M7 10L12 15L17 10' stroke='%23101820' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
		background-repeat: no-repeat;
		background-position: 95% center;
		@include media-breakpoint-up(md) {
			height: rem(64);
			padding: rem(20) 1.4vw;
			padding-right: rem(30);
			width: auto;
			background-position: 98% center;
		}
		@include media-breakpoint-up(lg) {
			background-position: 95% center;
			padding-right: rem(30);
		}
		img {
			flex-shrink: 0;
			width: rem(40);
			height: rem(40);
			@include media-breakpoint-up(md) {
				width: rem(24);
				height: rem(24);
			}
		}
		&.show {
			background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M17 14L12 9L7 14' stroke='%23101820' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
		}
		&.show ~ .filter__wrap {
			top: auto;
			z-index: 20;
			right: 0 !important;
      // opacity: 1;
      // z-index: 2;
      display: block;
      // visibility: visible;
		}
		span {
			font-size: rem(12);
			@include media-breakpoint-up(md) {
				font-size: rem(10);
			}
		}

		&.empty {
			img {
				display: none;
			}
			min-height: rem(56);
			color: $gray-400;
			cursor: auto;
			background-image: url("data:image/svg+xml,%3Csvg width='28' height='28' viewBox='0 0 28 28' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 11L14 17L20 11' stroke='%23D9D1CC' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
		}
	}
	.custom-input__text {
		font-size: rem(12);
		@include media-breakpoint-up(md) {
			font-size: rem(10);
		}
	}

	.custom-input__input:checked + img + .custom-input__text,
	.custom-input__input:checked + span + .custom-input__text {
		color: $green-900;
	}
	.custom-input__img {
		width: rem(40);
		height: rem(40);
		@include media-breakpoint-up(md) {
			width: rem(24);
			height: rem(24);
		}
		flex-shrink: 0;
	}

	.custom-input {
		font-size: 0.75rem;
		margin-bottom: 0.125rem;
		min-height: 1.5rem;
		padding: 0.75rem 1rem;
		padding-left: rem(8);
		position: relative;
		background: $white;
		margin-bottom: 0;
		@include media-breakpoint-up(md) {
			padding-left: 1.4vw;
		}
		img {
			width: rem(40);
			height: rem(40);
			@include media-breakpoint-up(md) {
				width: rem(24);
				height: rem(24);
			}
		}
	}

	.filter__wrap {
    height: auto;
    transition: none;
    top: auto;
    display: none;
    // opacity: 0;
    // z-index: -5;
    // visibility: hidden;
		// height: max-content;
		// right: 0 !important;
		// top: -100000%;
		input {
			// opacity: 0;
			display: none;
		}
	}

	@include media-breakpoint-up(xl) {
	}

	@include media-breakpoint-up(lg) {
	}

	@include media-breakpoint-up(md) {
	}

	@include media-breakpoint-up(sm) {
	}

	@include media-breakpoint-up(xs) {
	}

	//
	@include media-breakpoint-between(md, xl) {
	}

	//
	@include media-breakpoint-only(xs) {
	}

	@include media-breakpoint-only(sm) {
	}

	@include media-breakpoint-only(md) {
	}

	@include media-breakpoint-only(lg) {
	}

	@include media-breakpoint-only(xl) {
	}

	//
	@include media-breakpoint-down(xl) {
	}

	@include media-breakpoint-down(lg) {
	}

	@include media-breakpoint-down(md) {
	}

	@include media-breakpoint-down(sm) {
	}

	@include media-breakpoint-down(xs) {
	}
}
.main-slider__slider-inner {
  
  .block1 .content {
    position: absolute;
    top: rem(50);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
  }
  .block1 .btn {
    position: absolute;
    bottom: rem(60);
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
    @include media-breakpoint-up(md) {
      bottom: rem(72);
    }
    @include media-breakpoint-down(md) {
      width: calc(100% - rem(32));
      padding-top: rem(7);
      padding-bottom: rem(9);
    }
  }
}

// end.headerBlock
.block-anim {

  &__line {
    @include media-breakpoint-up(md) {
      height: 4px;
      background: #261D1D;
      max-width: rem(672);
      margin: auto;
      position: relative;
      overflow: hidden;
      margin-top: rem(32);
      .line {
        position: absolute;
        left: -100%;
        top: 0;
        height: 100%;
        width: 100%;
        background: $primary;
      }
    }
    @include media-breakpoint-up(lg) {
      max-width: rem(877);
      margin-top: rem(54);
      @media (orientation: portrait) {
        margin-top: rem(71);
      }
    }
    @include media-breakpoint-up(xl) {
      max-width: rem(817);
      margin-top: 6.5vh;
    }
  }
  &__content-wrap {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
    @include media-breakpoint-up(md) {
      top: 17%;
    }
  }

  &__title {
    line-height: 106%;
    font-weight: 600;
    font-size: 10vw;
    text-transform: uppercase;
    text-align: center;
    color: #d9beb5;
    opacity: 0.4;
    margin-bottom: rem(50);

    @include media-breakpoint-up(md) {
      line-height: 87%;
      margin-bottom: rem(68);
    }
    @include media-breakpoint-up(lg) {
      margin-bottom: rem(8);
      @media (orientation: portrait) {
        margin-bottom: 9.5%;
      }
    }
  }

  &__list {
    font-weight: 600;
    font-size: rem(20);
    line-height: 120%;
    text-transform: uppercase;
    text-align: center;
    color: $white;
    list-style-type: none;
    margin-bottom: rem(50);
    @include media-breakpoint-up(md) {
      font-size: rem(40);
      margin-bottom: rem(59);
    }
    @include media-breakpoint-up(lg) {
      @media (orientation: portrait) {
        top: 36%;
      }
      @media (orientation: landscape) {
        font-size: 2.75vw;
        display: flex;
        justify-content: space-around;

        width: 100vw;
        position: absolute;
        top: 33%;
        left: 50%;
        transform: translateX(-50%);
        z-index: 10;
      }
    }
    @include media-breakpoint-up(xl) {
      font-size: 2.64vw;
      top: 35%;
    }
    @include media-breakpoint-up(xxl) {
      top: 37%;
    }
    li {
      margin-bottom: rem(20);
    }
  }

  &__footer {
    position: relative;
    max-width: 100vw;
    overflow: hidden;

    .text {
      font-weight: 600;
      font-size: 11px;
      line-height: 145%;
      text-transform: uppercase;
      text-align: center;
      color: $white;
      max-width: rem(328);
      margin: auto;
      width: 100vw;
      @include media-breakpoint-up(md) {
        max-width: 78vw;
        font-size: rem(18);
        line-height: 133%;
        letter-spacing: -0.03em;
        text-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.25);
        opacity: 0.9;
      }
    @include media-breakpoint-up(lg) {
      max-width: rem(800);
    }

      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
    }
  }

  .bricks {
    display: grid;
    grid-template-columns: repeat(5, 280px);
    height: rem(86);
    gap: rem(8);
    justify-content: center;
    @include media-breakpoint-up(md) {
      grid-template-columns: repeat(5, 300px);
      height: rem(89);
      gap: rem(12);
    }
  }

  .brick {
    background: $red-300;

    &:first-child, &:last-child {
      opacity: .2;
    }

    &:nth-child(2), &:nth-child(4) {
      background: linear-gradient(90deg, $red-300 0%, rgba(210, 37, 47, 0.2) 79.86%);
    }
    &:nth-child(2) {
      transform: rotate(180deg);
    }
  }
}

.block1.block-anim2 {
  &:after {
    content: none;
  }
  li {
    font-weight: 600;
    font-size: 24px;
    line-height: 133%;
    text-transform: uppercase;
    color: #d6b3a7;
    list-style-type: none;
    padding-bottom: rem(8);
    &:nth-child(2) {
      margin-left: 30vw;
      @include media-breakpoint-up(md) {
        margin-left: 36vw;
      }
    }
    max-width: rem(276);
    @include media-breakpoint-up(md) {
      font-size: rem(48);
      line-height: 108%;
      max-width: rem(540);
    }
    @include media-breakpoint-up(lg) {
      @media (orientation: landscape) {
        font-size: rem(36);
        line-height: 111%;
        max-width: rem(370);
        &:nth-child(2) {
          margin-left: 0;
        }
      }
    }
    @include media-breakpoint-up(xl) {
      font-size: 4.7vh;
      line-height: 108%;
    }
    @include media-breakpoint-up(xxl) {
      font-size: 5.9vh;
      line-height: 107%;
    }

    position: relative;
    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 4px;
      background: linear-gradient(90deg, rgba(214,179,167,1) 44%, rgba(214,179,167,0) 100%);
      @include media-breakpoint-up(lg) {
        @media (orientation: landscape) {
          content: none;
        }
      }
    }
  }

  .block-anim2__content-wrap {
    @include media-breakpoint-up(lg) {
      @media (orientation: landscape) {
        position: absolute;
        top: 49%;
        left: 7vw;
        z-index: 2;
        transform: translateY(-50%);
      }
    }
    @include media-breakpoint-up(xl) {
      transform: translateY(-52%);
    }
    @include media-breakpoint-up(xxl) {
      max-width: rem(1439);
      margin: auto;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .block-anim2__list {
    position: absolute;
    top: 54%;
    left: 3vw;
    transform: translateY(-50%);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    width: 90vw;
    margin: auto;
    @include media-breakpoint-up(lg) {
      @media (orientation: landscape) {
        position: static;
        width: 100vw;
        transform: translate(0);
      }
    }
  }
  --left-gap-1: 49vw;
  --left-gap-2: 14vw;
  --left-gap-3: 18vw;
  @include media-breakpoint-up(xl) {
    --left-gap-3: 24.5vw;
  }
  @include media-breakpoint-up(xxl) {
    --left-gap-2: 13vw;
    --left-gap-1: 44vw;
  }
  @include media-breakpoint-up(lg) {
    @media (orientation: landscape) {
      .bg-gr {
        position: absolute;
        left: 0;
        bottom: 0;
        height: 140px;
        width: 290px;
        filter: blur(2px);
        background: linear-gradient(90deg, rgba(185, 134, 108, 0.4) 0%, rgba(111, 75, 57, 0.4) 100%); 
        z-index: 0;
        @include media-breakpoint-up(xl) {
          height: 170px;
          width: 330px;
        }
        @include media-breakpoint-up(xxl) {
          height: 225px;
          width: 450px;
        }
      }
      .bg-gr-1 {
        top: -100px;
        bottom: auto;
        left: var(--left-gap-1);
        height: 200px;
        @include media-breakpoint-up(xl) {
          height: 300px;
          top: -170px;
        }
        @include media-breakpoint-up(xxl) {
          height: 350px;
        }
      }
      .bg-gr-3 {
        left: calc(370px + var(--left-gap-3));
      }
      .line {
        position: absolute;
        left: 0;
        height: 4px;
        background: linear-gradient(90deg, rgba(214,179,167,1) 44%, rgba(214,179,167,0) 100%);
        z-index: 2;
      }
      .line-1 {
        top: calc(100% /4 - 40px);
        left: var(--left-gap-1);
        width: 23vw;
        @include media-breakpoint-up(xl) {
          top: calc(100% /4 - 60px);
        }
        @include media-breakpoint-up(xxl) {
          top: calc(100% /4 - 54px);
        }
      }
      .line-2 {
        top: calc(100% /4* 2 - 30px);
        width: 50vw;
        @include media-breakpoint-up(xxl) {
          top: calc(100% /4* 2 - 38px);
        }
      }
      .line-3 {
        top: calc(100% /4* 3);
        width: 80vw;
      }

      .list-1 {
        gap: rem(28);
        margin-bottom: rem(33);
        @include media-breakpoint-up(xl) {
          gap: rem(50);
        }
        li {
          &:first-child {
            margin-left: var(--left-gap-1);
          }
          &:last-child {
            margin-left: var(--left-gap-2);
          }
        }
      }
      .list-2 {
        flex-direction: row;
        justify-content: flex-start;
        gap: var(--left-gap-3);
      }
    }
  }
}

.block-anim-edelhaus-1 {
  &.block1:after {
    content: none;
  }
  .inner-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 90vw;
    height: max-content;
    padding: rem(55) rem(14) rem(14);
    background: rgba(32, 24, 16, 0.5);

    display: flex;
    flex-direction: column;
    @include media-breakpoint-up(md) {
      height: 100%;
      background: none;
    }
  }

  .brick {
    @include media-breakpoint-up(md) {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%,-50%);
      max-width: rem(918);
    }
    @include media-breakpoint-up(xl) {
      max-width: 70vw;
      width: 70vw;
    }
    @include media-breakpoint-up(xxl) {
      max-width: 80vw;
      width: 80vw;
    }
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  &__title {
    font-size: rem(28);
    color: $white;
    text-transform: uppercase;
    text-align: center;
    text-wrap: nowrap;
    @include media-breakpoint-up(md) {
      font-size: 8.2vw;
      position: absolute;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -30%);
      font-weight: 250;
      line-height: 1;
      &.title_bottom {
        bottom: 30%;
        transform: translate(-50%, 30%);
        top: auto;
      }
    }
  }
  &__content-wrap {
    margin-top: 10%;
    margin-bottom: 20%;
    color: $white;
    @include media-breakpoint-up(md) {
      padding: rem(25) rem(48);
      background: rgba(32, 24, 16, 0.5);
      margin-bottom: 0;
      margin-top: 0;
      position: absolute;
      top: 52%;
      left: 50%;
      transform: translate(-50%,-50%);
      width: 90vw;
      max-width: rem(850);
      z-index: 5;
    }

  }
  .brand {
    margin: auto;
    @include media-breakpoint-up(md) {
      position: absolute;
      bottom: 5%;
      left: 50%;
      transform: translateX(-50%);
    }
  }

  .text {
    text-align: center;
    @include media-breakpoint-up(md) {
      text-align: start;
    }
  }
}

.block-anim-edelhaus-2 {
  &__title {
    position: relative;
    z-index: 2;
    font-size: rem(47);
    line-height: 111%;
    text-align: center;
    color: $white;
    width: 70vw;
    text-wrap: balance;
    @include media-breakpoint-up(md) {
      font-size: rem(79);
      line-height: 100%;
    }
    @include media-breakpoint-up(xl) {
      width: 95vw;
      font-size: rem(85);
      text-transform: uppercase;
    }
  }

  .block-anim__content-wrap {
    height: 75.5%;
    top: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  &__footer {
    position: relative;
    padding: rem(17) rem(12);
    transform: translateX(-3%);
    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(72, 71, 71, 0) 0%, rgba(72, 71, 71, 0.8) 65.04%);
      height: 150%;
      width: 100%;
      z-index: -1;
    }

    color: $white;
    font-size: rem(12);
    width: rem(126);
    line-height: 125%;
    @include media-breakpoint-up(md) {
      width: rem(174);
    }

    .text-transform {
      position: absolute;
      opacity: .5;
      top: 100%;
      left: 0;
      padding: rem(17) rem(12);
      width: 100%;
      transform: scaleY(-1);
    }
  }
}
.inner-container-center-anim {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.block-anim-mk {
  &.block1:after {
    content: none;
  }
  .inner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #F7D4BE;
    text-align: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &__title {
    font-size: rem(24);
    font-weight: 700;
    letter-spacing: 0.38em;
    text-transform: uppercase;
    text-wrap: wrap;
    margin-top: rem(13);
    margin-bottom: rem(22);
    max-width: rem(220);
    @include media-breakpoint-up(md) {
      font-size: rem(37);
      max-width: rem(304);
      line-height: 100%;
      margin-top: rem(31);
      margin-bottom: rem(43);
    }
  }

  .text {
    font-size: rem(14px);
    line-height: 129%;
    letter-spacing: 0.07em;
    @include media-breakpoint-up(md) {
      font-size: rem(16);
      letter-spacing: 0.06em;
    }
  }

  &-1 .brand {
    width: rem(60);
  }
  &-1 .inner-container {
    @include media-breakpoint-up(md) {
      max-width: rem(730);
    }
  }
  &-2 .brand {
    width: rem(160);

    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    @include media-breakpoint-up(md) {
      width: rem(272);
    }
  }
  &-2 {
    .inner-container {
      @include media-breakpoint-up(lg) {
        width: rem(1303);
        max-width: rem(1303);
      }
    }
    .title_span {
      font-size: rem(17);
      @include media-breakpoint-up(md) {
        font-size: rem(24);
      }
    }

    &__title-wrap {
      margin-bottom: rem(17);
      @include media-breakpoint-up(md) {
        margin-bottom: rem(48);
      }
    }

    &__title {
      font-weight: 700;
      font-size: rem(20);
      line-height: 125%;
      letter-spacing: 0.35em;
      text-transform: uppercase;
      @include media-breakpoint-up(md) {
        font-size: rem(45);
      }
    }

    .text:not(:last-child) {
      margin-bottom: rem(37);
    }

    &__content-wrap {
      @include media-breakpoint-up(md) {
        display: flex;
        gap: rem(57);
        transform: translateX(-4px);
        .text {
          max-width: 30vw;
        }
        .text:first-child {
          text-align: right;
        }
        .text:last-child {
          text-align: left;
        }
      }
      @include media-breakpoint-up(lg) {
        .text {
          max-width: 40vw;
        }
      }
      @include media-breakpoint-up(xxl) {
        transform: translateX(-10px);
      }
    }
  }
}

.block-anim-konig {
  &.block1:after {
    content: none;
  }

  &-1 .parallax-container {
    @include media-breakpoint-up(md) {
      background-position: 80%;
    }
  }

  color: #C9BBB5;
  text-align: center;
  @include media-breakpoint-up(md) {
    text-align: left;
  }
  &-1 {
    .inner-container {
      @include media-breakpoint-up(md) {
        width: 76vw;
        right: 0;
        left: auto;
        top: auto;
        bottom: 20%;
        transform: translate(0%,0%) !important;
      }
      @include media-breakpoint-up(lg) {
        width: 52.4vw;
      }
      @include media-breakpoint-up(xl) {
        width: 44vw;
      }
    }

  }
  .inner-container {
    width: 100vw;
    background: linear-gradient(270deg, rgba(27, 15, 15, 0.2) 0%, rgba(27, 15, 15, 0.7) 100%);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
  }

  &-2 {
    .inner-container {
      background: linear-gradient(270deg, #1d1003 0%, rgba(29, 16, 3, 0.4) 100%);
    }
  }

  &__title {
    font-size: rem(36);
    line-height: 103%;
    letter-spacing: 0.44em;
    text-transform: uppercase;
    @include media-breakpoint-up(md) {
      letter-spacing: 0.32em;
    }
    &:last-child {
      letter-spacing: 0.36em;
      @include media-breakpoint-up(md) {
        letter-spacing: 0.22em;
      }
    }
    @include media-breakpoint-up(md) {
      font-size: rem(60);
      font-weight: 300;
    }
  }

  .title_top {
    margin-bottom: rem(11);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(16);
    }
  }

  .text {
    max-width: rem(332);
    font-weight: 500;
    font-size: rem(15);
    line-height: 160%;
    @include media-breakpoint-up(md) {
      max-width: rem(470);
    }
    @include media-breakpoint-up(lg) {
      max-width: rem(737);
    }
  }
  .wrapper {
    position: relative;
    gap: rem(29);
    padding: rem(49) rem(14) rem(42);
    @include media-breakpoint-up(md) {
      padding: 0 rem(14) rem(42) rem(2);
      height: 100%;
      align-items: flex-start;
      gap: rem(36);
    }
    &:after {
      content: '';
      // clip-path: polygon(66% 0%, 100% 0%, 100% 100%, 0% 100%);
      background: linear-gradient(270deg, rgba(27, 15, 15, 0.2) 0%, rgba(27, 15, 15, 0.8) 100%);
      position: absolute;
      top: 0;
      right: 100%;
      height: 100%;
      // width: 340px;
      width: 60vw;
    }
  }

  &-2 {
    .block-anim-konig__title {
      font-size: rem(26);
      font-weight: 400;
      @include media-breakpoint-up(md) {
        font-size: rem(28);
        @media (orientation: landscape) {
          font-size: 3.1vw;
        }
      }

      @include media-breakpoint-up(lg) {
        font-size: rem(32);
      }
      @include media-breakpoint-up(xxl) {
        font-weight: 300;
        font-size: rem(52);
      }
    }
    .inner-container {
      @include media-breakpoint-up(md) {
        background: transparent;
        @media (orientation: landscape) {
          top: 65%;
        }
        @media (orientation: portrait) {
          top: 55%;
        }
      }

    }

    .title_top {
      letter-spacing: 0.45em;
      @include media-breakpoint-up(xl) {
        letter-spacing: 0.29em;
      }
    }
    .title_bottom {
      letter-spacing: 0.27em;
      @include media-breakpoint-up(md) {
        @media (orientation: landscape) {
          letter-spacing: 0.24em;
        }
      }
      @include media-breakpoint-up(xl) {
        letter-spacing: 0.3em;
      }
    }

    .text {
      font-size: rem(14);
      font-weight: 400;
      color: #F3E8DA;
      @include media-breakpoint-up(xl) {
        font-size: rem(19);
        line-height: 142%;
      }
    }
    .wrapper {
      @include media-breakpoint-up(md) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        position: relative;
        .lg-before {
          content: '';
          position: absolute;
          top: 0;
          height: 100%;
          width: 50%;
          z-index: -1;
        }

        @media (orientation: landscape) {
          padding: rem(23) rem(30) rem(10);
          align-items: center;

          .lg-before_left {
            left: 0;
            background: linear-gradient(270deg, #1d1003 0%, rgba(29, 16, 3, 0.1) 100%);
          }

          .lg-before_right {
            right: 0;
            background: linear-gradient(270deg, rgba(29, 16, 3, 0.1) 0%, rgba(29, 16, 3, 0.2) 100%);
          }

          .block-anim-konig-2__title-wrap {

            text-align: end;
            .title_top {
              margin-right: rem(-4px);
              @include media-breakpoint-up(xl) {
                margin-right: 0;
              }
            }
          }
        }

        @media (orientation: portrait) {
          padding: rem(39) rem(14) rem(12) rem(28);
          row-gap: 10vh;
          column-gap: 0;
          max-width: rem(768);
          margin: auto;

          .lg-before_left {
            left: 0;
            background: linear-gradient(270deg, #1d1003 0%, rgba(29, 16, 3, 0.1) 100%);
          }

          .lg-before_right {
            right: 0;
            background: linear-gradient(270deg, rgba(29, 16, 3, 0.1) 0%, rgba(29, 16, 3, 0.2) 100%);
          }
          .block-anim-konig-2__content-wrap {
            grid-column: 1/-1;
            .text {
              max-width: rem(695);
              padding-left: rem(26);
              font-size: rem(19);
            }
          }
        }
      }

      @include media-breakpoint-up(lg) {
        max-width: rem(1024);
        margin: auto;
      }
      @include media-breakpoint-up(xl) {
        max-width: rem(1416);
      }
    }
  }

  .lg-after {
    position: absolute;
    top: 0;
    height: 100%;
    width: 20vw;
  }
  .lg-after_left {
    right: 100%;
    background: linear-gradient(270deg, rgba(47, 30, 9, 0.2) 0%, rgba(52, 43, 33, 0.6) 100%);
    transform: rotate(-180deg);
  }
  .lg-after_right {
    background: linear-gradient(270deg, rgba(29, 16, 3, 0.3) 19.32%, rgba(87, 77, 65, 0.1) 100%);
    transform: rotate(180deg);
    left: 100%;
  }

  .brand-wrap {
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
  }

  .brand {
    width: rem(143);
    @include media-breakpoint-up(lg) {
      width: rem(169);
    }
  }
}

.block1.block-anim-mf {

  .inner-container {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 2;
    height: 70%;

    justify-content: space-between;
    @include media-breakpoint-up(md) {
      width: 100vw;
      transform: translate(0,0);
      left: 0;
      top: 0;
    }
  }
  &-2 {
    .inner-container {
      width: rem(335);
      max-width: rem(335);
      justify-content: flex-start;
      gap: rem(41);
      @include media-breakpoint-up(md) {
        // height: auto;
        
        height: 60%;
        justify-content: space-between;
        width: rem(258);
        max-width: none;
        top: 10%;
        left: 16vw;
        gap: rem(60);
        align-items: start;
      }
      @include media-breakpoint-up(lg) {
        @media (orientation: landscape) {
          width: rem(304);
          gap: rem(80);
        }
        @media (orientation: portrait) {
          width: rem(337);
          left: 20vw;
          height: 70%;
          justify-content: space-between;
        }
      }
      @include media-breakpoint-up(xl) {
        width: rem(337);
        height: 75%;
        justify-content: space-between;
      }
      @include media-breakpoint-up(xxl) {
        height: 80%;
      }
    }
    &:after {
      background: linear-gradient(180deg, rgba(0,0,0,0.5) 50%, rgba(0,52,102,0) 100%);
      height: 100%;
      width: 50%;
      top: auto;
      bottom: 0;
      z-index: 0;
      @include media-breakpoint-up(md) {
        background: linear-gradient(180deg, rgba(0,0,0,0.5) 70%, rgba(0,52,102,0) 100%);
        width: 55%;
      }
      @include media-breakpoint-up(xxl) {
        content: none
      }
    }
    .block-anim-mf__title {
      font-weight: 300;
      font-size: rem(28);
      line-height: 132%;
      letter-spacing: 0.18em;
      text-transform: uppercase;
      color: #ead5c4;
      @include media-breakpoint-up(md) {
        font-size: rem(64);
        letter-spacing: 0.08em;
      }
      @include media-breakpoint-up(lg) {
        @media (orientation: landscape) {
          font-size: rem(56);
        }
        @media (orientation: portrait) {
          font-size: rem(96);
        }
      }
      @include media-breakpoint-up(xl) {
        font-size: rem(80);
      }
      @include media-breakpoint-up(xxl) {
        font-size: 7.8vh;
      }
    }

    .title_top {
      letter-spacing: 0.18em;
      span {
        margin-left: rem(20);
        @include media-breakpoint-up(md) {
          margin-left: rem(40);
        }
      }
    }
    .block-anim-mf__title-wrap {
      @include media-breakpoint-up(md) {
        position: absolute;
        z-index: 1;
        left: 38vw;
        top: 0;
        transform:  rotate(-90deg) translateX(-28%) translateY(-80%);
        .title_top {
          margin-bottom: rem(52);
        }
      }
      @include media-breakpoint-up(lg) {
        @media (orientation: portrait) {
          transform: rotate(-90deg) translateX(-28%) translateY(-94%);
        }
      }
      @include media-breakpoint-up(xl) {
        transform: rotate(-90deg) translateX(-28%) translateY(-94%);
      }
      @include media-breakpoint-up(xxl) {
        transform: rotate(-90deg) translateX(-28%) translateY(-9%);
      }
    }

    .text {
      line-height: 150%;
      letter-spacing: 0.06em;
      @include media-breakpoint-up(md) {
        font-size: rem(24);
        line-height: 129%;
      }
      @include media-breakpoint-up(lg) {
        @media (orientation: landscape) {
          font-size: rem(20);
          line-height: 140%;
          letter-spacing: 0.05em;
        }
      }
      @include media-breakpoint-up(xl) {
        font-size: rem(24);
      }
    }

    .parallax-container {
      background-position-x: 76%;
      @include media-breakpoint-up(lg) {
        @media (orientation: landscape) {
          height: 156vh;
          background-position-x: 83%;
        }
        @media (orientation: portrait) {
          background-position-x: 73%;
        }
      }
      @include media-breakpoint-up(xxl) {
          background-position-x: 50%;
          height: 100vh;
      }
    }
  }

  .text {
    color: #f3e8da;
  }

  &-1 {
    &:after {
      background: linear-gradient(179deg, rgba(29, 16, 3, 0) 0%, rgba(27, 15, 15, 0.5) 51.77%);
      height: 60%;
      top: auto;
      bottom: 0;
      z-index: 0;
      @include media-breakpoint-up(md) {
        content: none;
      }
    }
    .text {
      font-size: rem(15);
      line-height: 140%;
      letter-spacing: 0.07em;
      text-align: center;
      @include media-breakpoint-up(md) {
        text-align: start;
        @media (orientation: portrait) {
          max-width: rem(198);
        }
        @media (orientation: landscape) {
          max-width: rem(323);
        }
      }
      @include media-breakpoint-up(lg) {
        @media (orientation: portrait) {
          max-width: rem(240);
          font-size: rem(19);
        }
      }
      @include media-breakpoint-up(xl) {
        font-size: rem(19);
        max-width: rem(510);
        line-height: 142%;
        letter-spacing: 0.05em;
      }
    }

    .block-anim-mf__title-wrap {
      @include media-breakpoint-up(md) {
        transform: rotate(-90deg);
        position: absolute;
        z-index: 1;
        left: 0;
        bottom: 0;
        transform:  rotate(-90deg) translateX(21%) translateY(-65%);
        .title_top {
          margin-bottom: rem(87);
        }
      }
      @include media-breakpoint-up(xl) {
        transform: rotate(-90deg) translateX(8%) translateY(-6%);
        z-index: 1;
      }

    }

    .block-anim-mf__title {
      font-weight: 400;
      font-size: rem(30);
      line-height: 123%;
      letter-spacing: 0.17em;
      text-transform: uppercase;
      text-align: center;

      @include media-breakpoint-up(md) {
        text-align: end;
        font-weight: 300;
        letter-spacing: 0.06em;
        @media (orientation: portrait) {
          font-size: rem(79);
        }
        @media (orientation: landscape) {
          font-size: rem(63);
        }
      }
      @include media-breakpoint-up(lg) {
        @media (orientation: portrait) {
          font-size: rem(95);
        }
      }
      @include media-breakpoint-up(xl) {
        font-size: rem(87);
      }
    }

    .block-anim-mf__content-wrap {
      @include media-breakpoint-up(md) {
        position: absolute;
        left: 64vw;
        bottom: 20%;
        z-index: 1;
      }
      @include media-breakpoint-up(lg) {
        @media (orientation: landscape) {
          bottom: 6%;
          left: 68vw;
        }
      }
      @include media-breakpoint-up(xl) {
        bottom: -18%;
        left: 51vw;
      }
    }
    .parallax-container {
      @include media-breakpoint-down(md) {
        background-attachment:unset;
        background-position-x: 93%;
        background-position-y: top;
      }
      @include media-breakpoint-up(md) {
        @media (orientation: portrait) {
          background-position-x: 19%;
        }
      }
      // transform: scale(1.5);
    }
  }

  .brand-wrap {
    position: absolute;
    bottom: 6.5%;
    left: 50%;
    transform: translateX(-40%);
    z-index: 2;
    @include media-breakpoint-up(md) {
      position: static;
      transform: translateX(0);
    }
  }

  .brand {
    width: rem(209);
    margin-top: rem(10);
    @include media-breakpoint-up(md) {
      width: rem(229);
    }
  }
}