mixin headerBlock(title, img)
	// start headerBlock
	+b.headerBlock--white.section#headerBlock&attributes(attributes)
		.container-max
			+e.img-wrap.bg-wrap.bg
				+img(`img/header-bg-${img}.png`, 'bg')
		.container
			+b.section-title
				h1!= title

	// end headerBlock


mixin headerBlock2(img)
	// start headerBlock
	+b.headerBlock--white.headerBlock--no-title.section#headerBlock&attributes(attributes)
		.container-max
			+e.img-wrap.bg-wrap.bg
				+img(`img/header-bg-${img}.png`, 'bg')

	// end headerBlock