// start .sStorage
.sStorage {
	--sPT: #{rem(0)};
	--sPB: #{rem(32)};
	// --sTPB: #{rem()};
  
    @include media-breakpoint-up(md) {
	    --sPB: #{rem(48)};
    }
  
	.custom-scroll {
    height: rem(468);
    @include media-breakpoint-up(md) {
      height: calc(100% - 30px);
    }
  }
	&__row{
		--bs-gutter-x: #{rem(0)};
		// --bs-gutter-y: #{rem()};
    @include media-breakpoint-up(md) {
      min-height: rem(568);
    }
	}

	.section-title{
		
	}
	&__col{
		
	}
  &__map {
    width: 100%;
    position: relative;
    z-index: 6;
    height: 100%;
		overflow: hidden;
    min-height: rem(360);
    
		& > * {
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
		}
	}

  .swiper {
    overflow: visible;
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: -50%;
      width: 900%;
      height: 100%;
      background: $white;
    }
    @include media-breakpoint-up(md) {
      margin-bottom: rem(40);
    }
  }

  .inner-wrap {
    padding-bottom: rem(10);
    background: $white;
    height: 100%;
    max-height: rem(568);
    overflow: hidden;
    padding-right: 0;
    @include media-breakpoint-up(md) {

      padding: rem(16) rem(16) rem(2);
    padding-right: 0;
    }
    .title {
      padding: rem(16);
      border-bottom: 1px solid $gray-700;
      @include media-breakpoint-up(md) {
        padding: 0 0 rem(8);
        border: none;
      }
    }
  }

  .map-item:not(:last-child) {
    margin-bottom: rem(40);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(72);
    }
  }
  .map-item {
    .coordination {
      cursor: pointer;
      font-size: rem(14);
      display: inline;
      .icon {
        font-size: rem(16);
        fill: none;
      }
    }
    .title-map {
      margin-bottom: rem(8);
      @include media-breakpoint-up(md) {
        margin-bottom: rem(4);
      }
    }
		.d-flex {
      justify-content: space-between;
      color: $gray-800;
      margin-bottom: rem(8);
      @include media-breakpoint-down(md) {
        flex-direction: column;
        gap: rem(16);
      }
      @include media-breakpoint-up(md) {
        align-items: flex-end;
        margin-bottom: rem(16);
      }
      a {
        color: inherit;
      }
      .icon {
        stroke-width: rem(1);
        stroke: $gray-800;
        font-size: rem(18);
      }
    }
    .map-wrap {
      margin-bottom: rem(16);
    }
    .wrap {
      font-size: rem(14);
    }
  }
	&__item {
    
	}
  
  .title {
    font-size: rem(17);
    @include media-breakpoint-up(md) {
      font-size: rem(20);
    }
  }

  .swiper-slide {
    width: max-content;
    padding: rem(11) 0 rem(13);
    position: relative;
    font-size: rem(14);
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      @include mt;
    }
    &.active {
      color: $black;
      &::after {
        background-color: $primary;
      }
    }
  }
  &__item:not(:last-child) {
    margin-bottom: rem(42);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(104);
    }
  }

  &__row-drivers {
    margin-bottom: rem(32);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(72);
    }
    display: grid;
    gap: rem(16);
    grid-template-columns: repeat( auto-fit, minmax(244px, 1fr) );
  }

  h3, h5 {
    margin-bottom: rem(24);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(40);
    }
  }

  @include media-breakpoint-up(md) {
    .wrapper .line-wrap:nth-child(n+2) .feature-line .feature-line__header {
      display: none;
    }
  }
  .line-wrap {
    background: $white;
    @include media-breakpoint-up(md) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      padding: 0 rem(16);
    }
  }

  .table-wrap {
    padding: 0 rem(16);
    background: $white;
    margin-bottom: rem(16);
    @include media-breakpoint-up(md) {
      margin-bottom: rem(24);
    }
  }

  thead {
    @include media-breakpoint-down(md) {
      display: none;
    }
  }

  table {
    @include media-breakpoint-down(md) {
      display: block;
    }
    @include media-breakpoint-up(md) {
      th, td {
        padding: rem(12) 0;
        width: calc(100% / 5);
      }
      tr {
        border-bottom: 1px solid $gray-600;
      }
    }
  }

  tbody {
    @include media-breakpoint-up(md) {
      tr:last-child {
        border-bottom: none;
      }
    }
    @include media-breakpoint-down(md) {
      display: block;
      tr {
        display: block;
        padding-top: rem(8);
        padding-bottom: rem(8);
        border-bottom: 1px solid $gray-600;
        &:last-child {
          border-bottom: none;
        }
      }
      td {
        display: flex;
        justify-content: space-between;
        margin-bottom: .5rem;
      }
      td:first-child {
        font-size: 1rem;
        font-weight: 600;
        margin-bottom: 1rem;
      }
    }
  }

  @include media-breakpoint-down(md) {
    [data-title] {
      font-size: .75rem;
      line-height: 1.33;
      position: relative;
      padding: rem(2);
      &::before {
        content: attr(data-title);
        font-size: .75rem;
        line-height: 1.33;
      }
    }
    .dash {
      flex: 1 0;
      border-bottom: 1px solid $gray-500;
      height: 1em;
      margin: 0 .4em;
    }
  }

  .mCSB_dragger_bar {
    background-color: #{$primary} !important;
  }


	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sStorage


.storage-feature {
  .title {
    margin-bottom: rem(4);
  }
  .icon {
    margin-bottom: rem(6);
  }
  .icon-watch,
  .icon-close {
    fill: none;
    stroke-width: rem(1);
    stroke: $dark;
  }
  p {
    margin-bottom: 0;
  }
}

ymaps .coord-item {
  // padding-left: 0;
  cursor:auto;
  &:hover {
    background: transparent;
  }
  font-family: 'Montserrat';
  &__title {
    font-weight: 600;
  }
  
  @include media-breakpoint-down(md) {
    border-bottom: none;
  }
}

#map {
  & [class$="-map"] {
    height: 100% !important;
  }
}

// [class$="balloon__content"] {
//   max-width: rem(300);
// }

.coord-item {
  background: $white;
  cursor: pointer;
  @include mt;
  &:hover {
    background: $gray-500;
  }
  &__title {
    font-size: rem(14);
    font-weight: 600;
    margin-bottom: rem(8);
    @include media-breakpoint-up(md) {
      font-size: rem(16);
      font-weight: 500;
    }
    &:before {
      content: '';
      display: inline-block;
      width: rem(18);
      height: rem(6);
      background: $primary;
      position: relative;
      transform: translateY(-50%);
      margin-right: rem(8);

    }
  }
  padding: rem(16);
  @include media-breakpoint-up(md) {
    padding: rem(16);
  }
  span {
    font-weight: 600;
  }
  &__info-address:not(:last-child) {
    margin-bottom: rem(8);
  }
  
  @include media-breakpoint-down(md) {
    border-bottom: rem(1) solid $gray-200;
  }
}

.item-top {
  position: relative;
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(63, 32, 33, 0.4) 0%, rgba(63, 32, 33, 0.4) 100%);
    z-index: 1;
  }
  &__item-wrap {
    padding: rem(24) rem(16);
    position: relative;
    z-index: 2;
    @include media-breakpoint-up(md) {
      padding: rem(32);
      padding-bottom: rem(56);
    }
  }
  .icons-wrap {
    margin-bottom: rem(16);
    .brand {
      margin-right: 10%;
    }

    @include media-breakpoint-up(md) {
      display: flex;
      justify-content: flex-end;
    }
  }
  .h5 {
    color: $white;
  }
}