extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sBasket/_sBasket.pug
include ../blocks/sThanks/_sThanks.pug
include ../blocks/sCatalog/_sCatalog.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= 'Есть вопросы? Напишите нам'
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main
		+sForm

	+parts('footer')