extends ../layout/main.pug

include ../blocks/headerBlock/_headerBlock.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sContent/_sContent.pug
 
include ../blocks/sContact/_sContact.pug
include ../blocks/sSlider/_sSlider.pug
include ../blocks/sForm/_sForm.pug
include ../blocks/sCatalog/_sCatalog.pug
include ../blocks/sBrand/_sBrand.pug

block variables
	- let  mainPage= 'main-page' 
	- let  bg= null

block title
	- let  title= index.head.title
	title= title
block pagecontent
	//- +mob-mnu()
	
	
	+parts('header')
	main.main-page
		+b.main-slider--js.swiper
			.swiper-wrapper
				+e.slide.swiper-slide
					+e.slider-inner
						+e.body
							.container-max
								+block1(data, '')
									+e.btn.btn.btn-primary(href='#') Перейти в каталог
							+headerBlockAnimated('main-anim')
							+headerBlockAnimated2('main-anim2')
							+sSlider
							.long-footer.long-footer--md
								+parts('footer')
				+e.slide.swiper-slide
					+e.slider-inner: +e.body
						.container-max
							+block1(data, 'edelhaus-light')
						+headerBlockAnimatedEdelhaus1('edelhaus-1')
						+headerBlockAnimatedEdelhaus2('edelhaus-2')
						+sSlider
						.long-footer.long-footer--md
							+parts('footer')
				+e.slide.swiper-slide
					+e.slider-inner: +e.body
						.container-max
							.block1
								.parallax-container(style=`background-image:url(img/brand-header-konig-img.png);`)
								.content
									+img(src=`img/konigstein.svg`, alt="").brand.brand_large
								+e.btn.btn.btn-primary(href='#') Перейти в каталог
						+headerBlockAnimatedKonig('konig')
						+headerBlockAnimatedKonig2('konig2')
						+sSlider
						.long-footer.long-footer--md
							+parts('footer')
				+e.slide.swiper-slide
					+e.slider-inner: +e.body
						.container-max
							.block1
								.parallax-container(style=`background-image:url(img/brand-header-mf-img.png);`)
								.content
									+img(src=`img/modformat.svg`, alt="").brand.brand_large.brand_right
								+e.btn.btn.btn-primary(href='#') Перейти в каталог
						+headerBlockAnimatedMF('mf')
						+headerBlockAnimatedMF2('mf2')
						+sSlider
						.long-footer.long-footer--md
							+parts('footer')
				+e.slide.swiper-slide
					+e.slider-inner: +e.body
						.container-max
							.block1
								.parallax-container(style=`background-image:url(img/brand-header-mk-img.png);`)
								.content
									+img(src=`img/master-ceramic.svg`, alt="").brand
								+e.btn.btn.btn-primary(href='#') Перейти в каталог
						+headerBlockAnimatedMK('mk')
						+headerBlockAnimatedMK2('mk2')
						+sSlider
						.long-footer.long-footer--md
							+parts('footer')
		//- +cookie
		+pagePreloader
		+pageSlider()