.form-wrap {
	&__input-wrap {
		// @extend .form-group;
		margin-bottom: rem(15);
	}
	&__input {
		// @extend .form-control;
		//  outline: 0 !important;
		resize: none;
	}
	&__btn {
		cursor: pointer;
		margin-bottom: rem(15);
	}
	label {
		width: 100%;
		display: block;
	}
}

//
@include media-breakpoint-up(xl) {
}
@include media-breakpoint-up(lg) {
}
@include media-breakpoint-up(md) {
}
@include media-breakpoint-up(sm) {
}
@include media-breakpoint-up(xs) {
}
@include media-breakpoint-between(md, xl) {
}
@include media-breakpoint-only(xl) {
}
@include media-breakpoint-down(xs) {
}

.form-check {
}
.form-check-input {
}
.form-check-label {
}

input[type="number"] {
	-moz-appearance: textfield;
}

select::-ms-expand {
	display: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	/* display: none; <- Crashes Chrome on hover */
	-webkit-appearance: none;
	margin: 0;
	/* <-- Apparently some margin are still there even though it's hidden */
}


.form-check-input:checked {
  background-color: $green-900;
  border-color: $green-900;
}

.form-check-input:checked[type=checkbox] {
  --bs-form-check-bg-image: url("data:image/svg+xml,%3Csvg width='16' height='16' viewBox='0 0 16 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.0001 10.78L3.2201 7.99999L2.27344 8.93999L6.0001 12.6667L14.0001 4.66665L13.0601 3.72665L6.0001 10.78Z' fill='white' /%3E%3C/svg%3E");
}

.form-check-input[type=checkbox] {
  border-radius: 0;
}

.form-check-input {
  --bs-form-check-bg: $white;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: $white;
  background-image: var(--bs-form-check-bg-image);
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: contain;
  border: var(--bs-border-width) solid $gray-600;
  flex-shrink: 0;
  margin-top: .25em;
  -webkit-print-color-adjust: exact;
  print-color-adjust: exact;
  vertical-align: top;
  width: rem(24);
  height: rem(24);
  @include media-breakpoint-up(md) {
    width: rem(16);
    height: rem(16);
  }
}

.form-check-input:focus {
  box-shadow: none;
  border-color: $gray-600;
}

.form-floating {
  label {
    color: rgba($body-color, 0.5);
    font-weight: 300;
    // font-size: 12px;
  }
  .form-control:placeholder-shown > label {
    color: $body-color;
  }
}
.form-floating > .form-control-plaintext ~ label,
.form-floating > .form-control:focus ~ label,
.form-floating > .form-control:not(:placeholder-shown) ~ label,
.form-floating > .form-select ~ label {
  font-size: 12px;
}

.select2-container--open .select2-selection {
  border-color: none;
  --border-focus: #{$gray-600};
}
.select2-selection {
  
  @include media-breakpoint-up(lg) {
    border-top-width: 0 !important;
    border-bottom-width: 0 !important;
  }
}
.form-wrap:not(:first-child) {
  .select2-selection {
    @include media-breakpoint-up(lg) {
      border-left-width: 0 !important;
    }
  }
}

.select2 {
  --bs-border-color: #{$gray-600};
  --bs-body-bg: #{$white};
  max-width: 179px;
  width: 179px !important;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder, .select2-selection__rendered {
  color: $dark;
  font-size: rem(14);
}
.form-select:focus, .select2-container--default .select2-selection:focus {
  border-color: #{$gray-600};
  box-shadow: none;
}

.select2-results__option {
  --selectable-bg: transparent;
  --selectable-color: #{$primary};
  --selected-bg: transparent;
  --selected-color: #{$green-900};
}

.select2-container--default .select2-results__option--selected.select2-results__option--selectable {
  position: relative;
  display: flex;
  gap: rem(10);
  justify-content: space-between;
  align-items: center;

  &:after {
    @include mt;
    content: '';
    display: inline-block;
    width: rem(24);
    height: rem(24);
    background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18.8588 6.85715L9.43025 16.2857L5.14453 12' stroke='%239A6A4F' stroke-linecap='round' stroke-linejoin='round' /%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    margin-left: auto;
    vertical-align: middle;
    flex-shrink: 0;
  }
}

.form-select,
.select2-container--default .select2-selection {
  padding: rem(13) rem(16) rem(13);
  --bs-border-radius: #{0};
}

.select2-results__option {
  padding: rem(8) rem(16);
}

// .select2[aria-expanded="true"] {
//   --bs-form-select-bg-img:
// }

.form-select, .select2-container--default .select2-selection {
  background-position: right rem(16) center;
}

.select2-container--default .select2-selection .select2-selection__rendered {
  padding-right: rem(18);
}

.select2-dropdown {
  // border: 1px solid var(--bs-border-color) !important;
  border-radius: 0 !important;
  margin-block: 0;
  // overflow: hidden;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
}