// start .sThanks
.sThanks {
  --sPT: #{rem(124)};
	--sPB: #{rem(64)};
	// --sTPB: ;
	@include media-breakpoint-up(md) {
    --sPT: #{rem(168)};
		--sPB: #{rem(152)};
	}

	&__wrap {
		text-align: center;
		max-width: rem(508);
		margin-right: auto;
		margin-left: auto;
    p {
      margin-bottom: rem(24);
    }
	}
	&__row{
		// --bs-gutter-x: #{rem()};
		// --bs-gutter-y: #{rem()};
	}
	.section-title{
		
	}
	&__col{
		
	}
	&__item{
		
	}

	@include media-breakpoint-down(md) {
    .btn {
    width: 100%;
  }
  }
  

	@include media-breakpoint-up(xl) {}
	@include media-breakpoint-up(lg) {}
	@include media-breakpoint-up(md) {}
	@include media-breakpoint-up(sm) {}
	@include media-breakpoint-between(md, xl) {}
	@include media-breakpoint-only(xl) {}
	@include media-breakpoint-down(xl) {}
} // end.sThanks