mixin sThanks(title, text, btn)
	// start sThanks
	+b.SECTION.sThanks.section#sThanks&attributes(attributes)
		.container
			+e.wrap
				h4= title
				p= text
				.btn.btn-primary(href='#')= btn
	// end sThanks