.menu {
	@include media-breakpoint-up(lg) {

		// @include roww(20px);
	}

	list-style: none;
	position: relative;
	margin-bottom: 0;
	max-width: 100%;
	li {
		padding: 0;
	}
	a {
    
    transition: color var(--s) ease-in-out;
		display: block;
		padding: rem(20) calc(var(--bs-gutter-x) / 2);
	}
}


.toggle-menu-mobile {
	--h: #{em(2)};
	--color: #{$primary};
	--position: calc(var(--h) * 2);

	&.on .wrap {
		--color: transparent;
    // display: inline;
    opacity: 1;
    visibility: visible;
	}

	&.on {
		--position: 0;
		--rotate: 45deg;
	}
	display: inline;
	// height: calc(var(--h)* 12);
	// font-size: 32px;
	// width: 1em;
	// cursor: pointer;
    @include media-breakpoint-up(md) {
    position: relative;
  }

  .icon {
    display: inline;
    cursor: pointer;
  }

  .icon-cross {
    font-size: rem(32);
    @include media-breakpoint-up(md) {
      font-size: rem(20);
    }
    fill: $white;
  }
  .icon-wrap_hidden {
    visibility: hidden;
  }
  .icon-wrap_visible {
    visibility: visible;
  }
  .icon-back {
    font-size: rem(24);
    fill: none;
    stroke-width: rem(1);
    stroke: $white;
  }
  .wrap {
    position: absolute;
    z-index: 11;
    top: rem(16);
    opacity: 0;
    right: rem(16);
    @include mt;
    width: calc(100% - 32px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    visibility: hidden;

    @include media-breakpoint-up(md) {
      left: 0;
      top: -3px;
      right: auto;
    }
  }
}

.menu-mobile {
  --desktop-menu-width: 640px;
  --pad-left: 16px;
  --pad-top: 66px;
  position: fixed !important;
  z-index: 10;
  width: 100%;
  // height: calc(var(--vh, 1vh) * 100);
  // height: 100vh;
  top: 0;
  left: 0;
  // right: 0;
  overflow: hidden;
  &.active {
    overflow: visible;
  }
  // background: rgb(52, 10, 10);
	@include media-breakpoint-up(md) {
    width: var(--desktop-menu-width);
  }
  &:not(.active){
    transform: translate3d(-100%, 0,0);
    --opacity: 0;
    .toggle-menu-mobile{
      opacity: 0;
    }
  }
  @include mt(.6s);
  will-change: transform;

  .toggle-menu-mobile { 
    margin-left: -15%;
    position: absolute; 
    left: 0;
    right: -100%;
    color: #FFF;
    top: 10px;
    z-index: 9999;
  }
  &__inner {
    padding: calc(env(safe-area-inset-top, 0px) + #{rem(20)}) 0 calc(env(safe-area-inset-bottom, 0px) + #{rem(20)});
    // overflow-x: auto;
    &.active {
      
    }
    // overflow-y: scroll;
    padding-top: var(--pad-top);
    padding-left: var(--pad-left);
    @include media-breakpoint-up(md) {
      width: 50%;
      padding-left: rem(24);
    }
    -webkit-overflow-scrolling: touch;
    height: 100vh;
    .div-bg {
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      height: 100vh;
      width: 100%;
      overflow: hidden;
      @include media-breakpoint-up(md) {
        width: 50%;
        @include mt;
      }
      // transform-origin: left;
      img {
        object-position: left;
        height: 100%;
        filter: blur(8px) brightness(50%);
      }
    }
    // @include mt(.3s);
    // transition-delay: .4s;
    // opacity: var(--opacity);
  }
  &.sub-menu-active {
    .div-bg {
      @include media-breakpoint-up(md) {
        width: 100%;
      }
    }
  }

  &.active { 
    .toggle-menu-mobile {
      opacity: 1;
    }
  }


  ul {
    position: relative;
  }

  li {
    display: block;
    margin: 0;

    a {
      color: $white;
      opacity: .5;
      &:hover {
        opacity: 1;
      }
      padding: 0;
      display: block;
    }
    &:nth-child(8) {
      position: relative;
      &:after {
        content: '';
        width: rem(17);
        height: rem(6);
        background: $primary;
        display: block;
        margin: rem(24) 0;
        // padding: rem(24) 0;
      }
    }
  }
}

.menu-item-has-children .sub-menu {
  overflow-x: hidden;
  overflow-y: auto;
  position: absolute;
  opacity: var(--op, 0);
  --op: 0;
  top: calc(var(--pad-top) * -1);
  left: -110%;
  width: 100%;
  z-index: -1;
  height: 100vh;
  padding-top: var(--pad-top);
  padding-left: 0;
  padding-right: rem(16);
  visibility: hidden;
  @include mt(.1s);
	@include media-breakpoint-up(md) {
    width: calc(100% + rem(24));
    padding-left: rem(32);
    padding-right: rem(32);
    left: calc(var(--desktop-menu-width) / 2 - rem(24));
  }
  &_hidden {
    --op: 0;
    transition: opacity .1s ease-in;
  }
  &_visible {
    left: 0;
    --op: 1;
    transition: opacity .5s ease-in;
    visibility: visible;
    z-index: 10;
    @include media-breakpoint-up(md) {
      left: calc(var(--desktop-menu-width) / 2 - rem(24));
    }
  }

  li {
    margin-bottom: rem(32);
    &:first-child {
      position: relative;
      @include media-breakpoint-up(md) {
      &::before {
        content: '';
        position: absolute;
        top: rem(-24);
        left: rem(-32);
        width: rem(1);
        height: rem(480);
        max-height: 60vh;
        background: $white;
        opacity: .3;
        margin: rem(24) 0;
      }
      }
    }
  }

  a {
    display: flex;
    flex-direction: column;
    gap: rem(4);
    opacity: 1;
    max-width: rem(400);
  }
  .icon-back {
    font-size: rem(26);
    position: absolute;
    top: rem(20);
    left: 0;
    z-index: 20;
    fill: none;
    stroke-width: 1px;
    stroke: $white;
    cursor: pointer;
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}