.top-nav {
	// --sPT: #{rem()};
	// --sPB: #{rem()};
	// --sTPB: #{rem()};
	&__row{
		// --bs-gutter-x: #{rem()};
		// @include media-breakpoint-up(md) {
			--bs-gutter-y: var(--bs-gutter-x);
		// }

	}
  position: fixed;
  top: rem(18);
  left: 0;
  z-index: 5;
  width: 100%;

  .logo-wrap {
    display: inline-block;
    margin-right: rem(10);
    position: relative;
    z-index: 18;
  }
  .logo-icon {
  }
  .icon-menu {
    fill: none;
    cursor: pointer;
    stroke-width: rem(1);
    stroke: $white;
  }

  &__contacts-wrap {
    display: flex;
    gap: rem(24);
    align-items: center;
    @include media-breakpoint-up(md) {
      gap: rem(17);
    }
    .icon {
      fill: none;
      cursor: pointer;
      stroke-width: rem(1);
      stroke: $white;
    }
  }

  &__tel {
    color: $white;
    font-size: rem(14);
    &.hidden {
      opacity: 0;
    }
  }
  .hidden {
    opacity: 0;
  }

  .row {
    justify-content: space-between;
  }

	.section-title{
		
	}
	&__col{

	}
	&__item{

	}
	&__slide{
		height: auto;
	}



  .icon-wrap.active {
    position: relative;
    &:after {
      content:'';
      position: absolute;
      top: 1%;
      right: 1%;
      width: rem(6);
      height: rem(6);
      border-radius: 50%;
      background: $primary;
    }
  }


	@include media-breakpoint-up(sm) {}
	
	@include media-breakpoint-up(xs) {}
	// 
	@include media-breakpoint-between(md, xl) {}
	// 
	@include media-breakpoint-only(xs) {}

	@include media-breakpoint-down(xs) {}
}

.icon-location:hover {
  animation: moveTopBottom 0.8s infinite alternate;
}

@keyframes moveTopBottom {
  0% {
      transform: translateY(-1px);
  }
  50% {
      transform: translateY(1px);
  }
  100% {
      transform: translateY(-1px);
  }
}

.icon-shopping:hover {
  animation: moveLeftRight 0.8s infinite alternate;
}

@keyframes moveLeftRight {
  0% {
      transform: translateX(-1px);
  }
  50% {
      transform: translateX(1px);
  }
  100% {
      transform: translateX(-1px);
  }
}

.icon-wrap .icon-search:hover {
  animation: moveSquare 1s infinite alternate;
}

@keyframes moveSquare {
  0% {
      transform: translateX(-1px) translateY(0);
  }
  25% {
      transform: translateX(1px) translateY(0);
  }
  50% {
      transform: translateX(2px) translateY(1px);
  }
  75% {
      transform: translateX(0) translateY(1px);
  }
  100% {
      transform: translateX(0) translateY(0);
  }
}

.popover {
  --bs-popover-body-padding-y: rem(8);
  --bs-border-radius-lg: #{rem(1)};
  --bs-border-color-translucent: #{$white};
  --bs-body-bg: #{$white};
  margin-top: rem(16) !important;
  top: rem(20);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.15);
  ul {
    list-style-type: none;
    margin-bottom: 0;
    li {
    }
    a {
      display: inline-block;
      padding: rem(7) 0;
      color: $dark;
      &:hover {
        color: $primary;
      }
    }
  }
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: $gray-800;
  transition: opacity .3s;
  opacity: 0;
  z-index: -1;
  visibility: hidden;
  &.show {
    opacity: .9;
    z-index: 6;
    visibility: visible;
  }
}


.white-bg-modal {
  position: fixed;
  left: 0;
  bottom: -100%;
  width: 100%;
  min-height: max-content;
  background: $white;
  padding: rem(28) 0 rem(24);
  border-radius: rem(8) rem(8) 0 0;
  z-index: 22;
  transition: all .5s;
  ul {
    list-style-type: none;
    margin-bottom: 0;
    li {
    }
    a {
      display: inline-block;
      padding: rem(11) 0 rem(13);
      color: $dark;
      &:hover {
        color: $primary;
      }
    }
  }
  .container {
    position: relative;
    &:after {
      content:'';
      position: absolute;
      top: rem(-16);
      left: 50%;
      transform: translateX(-50%);
      border-radius: rem(2);
      height: rem(4);
      width: rem(40);
      background: $gray-320;
      opacity: .5;
      @include media-breakpoint-up(md) {
        content: none;
      }
    }
  }
  &.show {
    bottom: 0;
  }
}

.icon-search {
  fill: none;
  cursor: pointer;
  stroke-width: rem(1);
  stroke: $white;
}

.search-field {
  position: relative;
  display: grid;
  grid-template-columns: 1fr min-content;
  @include media-breakpoint-up(md) {
    margin-left: rem(70);
  }
  input {
    border-radius: 0;
    background: transparent;
    border: none;
    outline: none;
    color: $white;
    // padding: rem(7);
    // padding-left: rem(30);
    border-bottom: 1px solid $primary;
      font-size: rem(12);
    @include media-breakpoint-up(md) {
      font-size: rem(14);
    }
    &::placeholder {
      color: $white;
      opacity: .5;
    }
  }
  button {
    background: none;
    border:none;
  }

}

.container-search {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: -5;
  opacity: 0;
  &.show {
    z-index: 15;
    opacity: 1;
  }
}