mixin menu-toggle()
	+b.toggle-menu-mobile--js
		+icon('menu')
		.wrap
			.icon-wrap.icon-wrap_hidden.d-md-none: +icon('back')
			+icon('cross')
mixin mob-mnu()
	-
		//- let path = require('path');
		//- let fs = require('fs');
		//- var requestURL = 'top-nav.json';
		//- var request = new XMLHttpRequest();
		//- request.open('GET', requestURL);
		//- request.responseType = 'json';
		//- let dataJson = JSON.parse(json);
	//- h1= dataJson['lala'] 
	+b.menu-mobile--js
		+b.toggle-menu-mobile--js
			span
		+e.inner
			+mnu()
	//	мобильное меню
mixin top-nav() 
	// start top-nav
	+b.top-nav.block-with-lazy
		.container-max
			+e.row.row
				.col-4
					a.logo-wrap(href='#'): +img(src="img/svg/logo.svg", alt="").logo-icon
					+menu-toggle()
					.menu-mobile.menu-mobile--js
						.menu-mobile__inner
							.div-bg
								+img(src="img/nav-bg-1.png", alt="")
							+mnu()
				.col-auto
					+e.contacts-wrap
						//- +e.tel(href="tel:+78003003050").d-none.d-md-block 8 800 300-30-50
						+b.icon-wrap--mobile.d-md-none: +icon('location')
						.icon-wrap.d-none.d-md-block.small
							span(data-bs-toggle="popover", data-bs-html="true", data-bs-placement="bottom", data-bs-content=`<div><ul><li><a href="#">Официальные дилеры</a></li><li><a href="#">Контакты</a></li><li><a href="#">Логистика и склады</a></li><li><a href="#">Черный список</a></li></ul></div>`): +icon('location')
						.icon-wrap(href='#'): +icon('search')
						.icon-wrap.active(href='#'): +icon('shopping')
			.mobile-location.white-bg-modal.small
				.container.container-decoration
					ul
						li: a(href="#") Официальные дилеры
						li: a(href="#") Контакты
						li: a(href="#") Логистика и склады
						li: a(href="#") Черный список
			.container-search
				.container
					+b.search-field
						input(type='text' name='search' placeholder='Поиск' aria-label='Search through site content')
						button
							+icon('search')
			.backdrop
	// end top-nav


